{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "@vue/airbnb"
  ],
  "rules": {
    "max-len": ["error", { "code": 120 }]
  },
  "ignorePatterns": ["api/mock", "api/index.js", "index.js", "plugins/components.js"],
  "parserOptions": {
    "parser": "babel-eslint"
  }
}
